
.premium-swiper .swiper-pagination {
  bottom: 25px;
}


.premium-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(227, 216, 194, 0.4);
  opacity: 1;
  transition: all 0.3s ease;
  border-radius: 999px;
}

.premium-swiper .swiper-pagination-bullet-active {
  width: 28px;
  background: #e3d8c2;
  box-shadow: 0 0 15px rgba(227, 216, 194, 0.8);
}

.slider-content {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

